.login-form-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: antiquewhite;

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    height: 30vh;
    padding: 10px;

    .submit-block {
      width: 70%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      .signup-link {
        font-size: 1.3vw;
      }
    }
  }
}
